// Variables of colors used in project
$white: #fff;

$gray-200: #F3F3F5;
$gray-400: #E4E5E6;
$gray-700: #717578;
$gray-800: #2F3744;

$green-1: #2EBD7A;
$green-2: #25A066;
$green-3: #DEFBE6;

$blue-1: #0038E5;